body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.circle {
  width: 66vw; /* Responsive width for the circle */
  height: 66vw; /* Responsive height for the circle */
  border: 8px solid #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: space-around; /* Space out the button containers */
  align-items: center;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  padding: 2.5vw; /* Adjust padding for responsiveness */
}

/* Styles for the status div */
#status {
  position: absolute;
  width: 100vw; /* Make it stretch the full width of .circle */
  text-align: center;
  margin-top: 20vw; /* Adjust margin for space below the circle */
  bottom: 10vw; /* Adjust this value to set the distance between circle and status */
}



.button-container:nth-child(1) { transform: translate(-50%, -50%) rotate(0deg) translate(35.5vw) rotate(-0deg); }
.button-container:nth-child(2) { transform: translate(-50%, -50%) rotate(90deg) translate(35.5vw) rotate(-90deg); }
.button-container:nth-child(3) { transform: translate(-50%, -50%) rotate(180deg) translate(35.5vw) rotate(-180deg); }
.button-container:nth-child(4) { transform: translate(-50%, -50%) rotate(270deg) translate(35.5vw) rotate(-270deg); }

/* ... Your existing styles ... */

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  display: flex; /* Add display flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Adjust button styles */
button {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 4vw;
  cursor: pointer;
  /* Remove margins to ensure accurate centering */
  transition: background-color 0.3s ease;
}

#up-btn {
   background-color: #db8943;
}

#down-btn {
   background-color: #bd8349;
}

/* ... Rest of your styles ... */



button:hover {
  background-color: #2980b9;
}
